/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: 'lato';
    src: url(./assets/Lato-Black.ttf) format('ttf');
}

body{
    font-family: lato;
}